[submodule "my-library"]
	path = my-library
	url = https://github.com/seiko-iwasawa/my-library.git
[submodule "teambook/implementations"]
	path = teambook/implementations
	url = https://github.com/algorithmica-org/implementations.git
